<template>

    <div class="Header">
        <div class="contenedor">
        <div class="container_comment">

            <h2>Comments</h2>
            
            <div class="comentarios">
                <p  v-for="post in contenido">  <span> {{post.content}} </span> </p>
            </div>
            <!--cuando oprima el boton de registrarse se me ejecutara la funcion processSignUpUser-->
            <form v-on:submit.prevent="proccessComment">
        <!--al oprimir registrarse mi v-model me captura los datos de text y me los setea en mi objeto user en la clave username-->

                <input type="text" v-model="comment.content" placeholder="Escribe tu comentario">
 
                <button type="submit"><i class='bx bxs-send'></i></button>
                
                
            </form>
            
        </div>
        </div>
    </div>

</template>
<script>
    
var hoy = new Date();
var fecha = hoy.getFullYear() + '-' + ( hoy.getMonth() + 1 ) + '-' + hoy.getDate();
var hora = hoy.getHours() + ':' + hoy.getMinutes() + ':' + hoy.getSeconds();
var fechaYHora = fecha + 'T' + hora+'Z';
import axios from 'axios';
//exportar mi archivo con el nombre de SignUp.
export default {
    name: "Comment",
    data: function(){
        return {
            comment:{
                content: "",
                author: 1,
                created_at: fechaYHora
                
            },
            contenido:[]
    }
    },
  
    methods: {
        proccessComment: function(){
            //me envia por medio de un axios mis datos registrados con el metodo post.
            axios.post(
                "http://localhost:8000/comment", 
                //me envia los datos que capture en mi objeto user a la anterior ruta.
                this.comment,  
                
                {headers: {}}
                )
                //luego me retorna una respuesta o result.
                .then((response) => {
                    
                    //me crea un Object con mi username, token de acceso y token de refresh
                    let dataLogIn = {
                        username: this.comment.author,
                        content: response.data.content,
                        created_at: response.data.created_at,
                    }
                    //le envio(emito) a mi funcion padre completedLogIn los datos que capture en el formulario
                    alert(dataLogIn.content);
                    

                })
                
                .then(() => this.loadComments())
                //si no, me captura un error
                .catch((error) => {
                    
                    if (error.response.status == "401")
                        alert("ERROR 401: Credenciales Incorrectas.");
                    
                });
                this.comment.content= ""
        },
       loadComments: function(){
        let vue= this;
                axios.get(
                    "http://localhost:8000/comment", 
                    
                    )
                    .then(function(result){
                       
                       vue.contenido=result.data;
                       
                       
                    })
       }
        //other metod
    },
    created(){
                this.loadComments()
                    
            }

      
   
        }

</script>

<style>
.comentarios p{
        background-color:rgb(194, 175, 175);
        border-radius: 10px;
        margin: 20px;
        padding:5px 10px;
    }
    .contenedor{
        background-color:#283747;
        width: 25%;
        border-radius: 10px;
    height: 90%;
    }
.Header {
    background-color: aqua;
    margin: 0;
    padding: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container_comment {
    overflow-y: scroll;
    background-color: #283747;
    border: 0px solid  rgb(0, 0, 0);
    border-radius: 10px;
    width: 100%;
    height: 86%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    
    
}
.Header h2{
    font-family: 'K2D', sans-serif;
    color: black;
    position: absolute;
    top: 22%;
    left:30%;
    transform: translate(-30%, -22%);
}


.Header form{
    width: 60%;
    
}
.Header input{
    height: 40px;
    width: 15%;
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 5px 0;
    border: 0px solid #283747;
    background-color: rgb(32, 150, 197);
    border-radius: 20px;
    position: absolute;
    top: 83%;
    left: 48%;
    transform: translate(-48%, -83%);
    
}

.Header button{
    width:39px;
    height:40px;
    border-radius:150px;
    color: #E5E7E9;
    background: rgb(56, 55, 55);
    border: 1px solid #E5E7E9;
    padding: 13px 1px;
    margin: 5px 80px;
    position: absolute;
    top: 83%;
    left: 52%;
    transform: translate(-52%, -83%);
    
    
}

.Header button:hover{
    color: #E5E7E9;
    background: crimson;
    border: 1px solid #283747;
}

</style>