<template>


    <body>
    <div class="table-tit"  >
    <h3>Comments</h3>
    <h3 v-for="post in contenido">you<span>{{post.content}}</span></h3>
    </div>

    
      </body>
    </template>
    <script>
    import jwt_decode from "jwt-decode";
    import axios from 'axios';
    export default {
        name: "mycomment",
        data: function(){
            return {
    
                contenido: []
                
            }
        },
       
            mounted() {
                let vue= this;
                axios.get(
                    "http://localhost:8000/comment", 
                 
                    )
                    .then(function(result){
                        alert("has hecho un get");
                       vue.contenido=result.data;
                   
                    })
                    
            }
        }
    </script>
    <style>



.table-tit{
   overflow-y: scroll;
   height: 300px;
   width: 300px;
}
    </style>